<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/chat.css">
</head>
<body>
<div id="loader" class="w-100 h-100 d-flex justify-content-center align-items-center">
    <span class="spinner-border text-primary">

    </span>
</div>
<div class="main" hidden>
    <div class="vertical-nav">
        <div class="burger">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
    <div id="left">
        <div class="p-2">
            <input type="search" autocomplete="off" placeholder="Search" name="search" id="search" class="search form-control">
        </div>
        <div th:onclick="'openChat('+${chat.id}+')'" th:each="chat, i: ${chats}" class="chat-element border w-100 p-3">
            <b th:text="${chat.title}"></b>
            <br/>
            <p th:text="${lastMessages.size()>i.index+1?lastMessages.get(i.index).text:''}"></p>
        </div>
        <div class="text-center mt-3" th:if="${chats==null || chats.isEmpty()}">
            <h5>You are haven't got any chats</h5>
        </div>
    </div>
    <div id="right">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h5>Nothing to show...</h5>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/sockjs.js"></script>
<script  src="/assets/js/stomp.js"></script>
<script src="/assets/js/chat.js"></script>
</body>
</html>