<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <hr/>
    <form action="/auth/login" method="post">

        <div id="error-div" th:if="${error!=null}" class="alert alert-warning alert-dismissible fade show" role="alert">
           <strong id="error-message" th:text="${error}"></strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">
        <div class="d-flex">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>