<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

</head>
<body>
<div class="container">
    <h1>Register</h1>
    <hr/>
    <div class="row mx-0 my-3">
        <div class="col-4 offset-4">
            <form id="register" >
                <div id="error-div"></div>
                <label for="username">Username</label>
                <input placeholder="Username" type="text" id="username" name="username" class="form-control">
                <label for="email" class="mt-3">Email</label>
                <input type="email" placeholder="Email" id="email" name="email" class="form-control">
                <label for="password" class="mt-3">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" class="form-control">
                <label for="repeat-password" class="mt-3">Repeat password</label>
                <input type="password" placeholder="Repeat password" id="repeat-password" name="repeat-password" class="form-control">
                <div class="d-flex justify-content-between mt-3">
                    <a class="btn nav-link btn-primary" href="/auth/login">Login</a>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>



<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/sockjs.js"></script>
<script  src="/assets/js/stomp.js"></script>

<script>
    let stompClient = null;
    let error="<div id=\"error-div\" class=\"alert alert-warning alert-dismissible fade show\" role=\"alert\">\n" +
        "                    <strong id=\"error-message\"></strong>\n" +
        "                    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
        "                        <span aria-hidden=\"true\">&times;</span>\n" +
        "                    </button>\n" +
        "                </div>"
    function parseError(msg){
       document.querySelector("#error-div").innerHTML=error;
       document.querySelector("#error-message").textContent=msg
    }

    function connect() {
        let socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, ()=>{
            //on connect
            stompClient.subscribe("/topic/auth", (payload)=>{
                let res=JSON.parse(payload.body)
                if (res.success) {
                    location.href="/auth/login"
                }else {
                    parseError(res.message)
                }
            })
        }, (e)=>{
            console.log(e)
        })
    }

    $(document).ready(()=>{
        connect()
        $('#register').submit(function (e){
            e.preventDefault()
            let username=document.querySelector('#username').value,
                email=document.querySelector('#email').value,
                password=document.querySelector('#password').value,
                repeatPassword=document.querySelector('#repeat-password').value

            if(password.length<8){
                parseError("Password length must be longer than 8")
                return false
            }
            if(password!==repeatPassword){
                parseError("Passwords not equals")
                return false;
            }
            stompClient.send("/app/chat.addUser",
                {},
                JSON.stringify({
                    username,
                    email,
                    password
                })
            )
            return false
        })
    })

</script>
</body>
</html>