<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

</head>
<body>
<div class="container">
    <h1>Register</h1>
    <hr/>
    <div class="row mx-0 my-3">
        <div class="col-4 offset-4">
            <form action="/auth/register" method="post" id="register" >
                <div id="error-div" th:if="${error!=null}" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong id="error-message" th:text="${error}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <label for="username">Username</label>
                <input placeholder="Username" type="text" id="username" name="username" class="form-control">
                <label for="email" class="mt-3">Email</label>
                <input type="email" placeholder="Email" id="email" name="email" class="form-control">
                <label for="password" class="mt-3">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" class="form-control">
                <label for="repeat-password" class="mt-3">Repeat password</label>
                <input type="password" placeholder="Repeat password" id="repeat-password" name="repeat-password" class="form-control">
                <div class="d-flex justify-content-between mt-3">
                    <a class="btn nav-link btn-primary" href="/auth/login">Login</a>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>



<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
</body>
</html>